// Specific CSS for your home-page
.bg-img {
  background: url("https://res.cloudinary.com/dhubox8yl/image/upload/v1700226258/alex-litvin-MAYsdoYpGuk-unsplash_b9y6wi.jpg");
  background-size: cover;
  background-position-y: center;
  height: 50vh;
}
